---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

@charset "utf-8";

// Styling Variables
@import "core/variables";
@import "core/docs";
@import "core/theme";

// Bootstrap Styles
// @import "bootstrap.scss";

// Custom Styles
@import "custom.scss";

// Custom Features
@import "core/code-copy";
@import "core/syntax";

