---
title: Environment Dashboard
layout: admin
icon: bi-cpu
permalink: /about/settings/environment/
excerpt: View Jekyll environment details and build information.
lastmod: {{CURRENT_DATE}}T00:00:00.000Z
---

{% include components/env-dashboard.html %}
